In [47]:
# Impoerting Libraries

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [49]:
# Reading the data

In [50]:
data = pd.read_csv('Alphabets_data.csv')

In [51]:
# EDA

In [52]:
data.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [53]:
data.shape

(20000, 17)

In [54]:
# Get the number of classes (unique values of the target variable)

In [55]:
data['letter'].nunique()

26

In [56]:
data.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [57]:
# Normalizing the data

In [58]:
cols = data.columns

In [59]:
cols

Index(['letter', 'xbox', 'ybox', 'width', 'height', 'onpix', 'xbar', 'ybar',
       'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge', 'xedgey',
       'yedge', 'yedgex'],
      dtype='object')

In [60]:
# Removing 'ketter' from cols

In [61]:
cols = data.columns[1:]

In [62]:
cols

Index(['xbox', 'ybox', 'width', 'height', 'onpix', 'xbar', 'ybar', 'x2bar',
       'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge', 'xedgey', 'yedge',
       'yedgex'],
      dtype='object')

In [63]:
# Normalizing the data

In [64]:
scaler = MinMaxScaler()
data[cols] = scaler.fit_transform(data[cols])

In [65]:
data

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,0.133333,0.533333,0.200000,0.333333,0.066667,0.533333,0.866667,0.000000,0.400000,0.400000,0.666667,0.533333,0.000000,0.533333,0.000000,0.533333
1,I,0.333333,0.800000,0.200000,0.466667,0.133333,0.666667,0.333333,0.333333,0.266667,0.866667,0.200000,0.600000,0.133333,0.533333,0.266667,0.666667
2,D,0.266667,0.733333,0.400000,0.533333,0.400000,0.666667,0.400000,0.133333,0.400000,0.666667,0.200000,0.466667,0.200000,0.466667,0.200000,0.600000
3,N,0.466667,0.733333,0.400000,0.400000,0.200000,0.333333,0.600000,0.266667,0.400000,0.266667,0.266667,0.666667,0.400000,0.666667,0.133333,0.533333
4,G,0.133333,0.066667,0.200000,0.066667,0.066667,0.533333,0.400000,0.400000,0.400000,0.400000,0.333333,0.600000,0.066667,0.466667,0.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,0.133333,0.133333,0.200000,0.200000,0.133333,0.466667,0.466667,0.466667,0.400000,0.400000,0.400000,0.266667,0.133333,0.533333,0.200000,0.466667
19996,C,0.466667,0.666667,0.533333,0.533333,0.266667,0.266667,0.533333,0.400000,0.600000,0.800000,0.600000,0.866667,0.133333,0.600000,0.200000,0.466667
19997,T,0.400000,0.600000,0.400000,0.466667,0.333333,0.400000,0.733333,0.200000,0.466667,0.733333,0.600000,0.333333,0.133333,0.800000,0.133333,0.266667
19998,S,0.133333,0.200000,0.266667,0.133333,0.066667,0.533333,0.466667,0.133333,0.400000,0.666667,0.400000,0.533333,0.066667,0.600000,0.333333,0.533333
19999,A,0.266667,0.600000,0.400000,0.400000,0.133333,0.600000,0.333333,0.200000,0.066667,0.533333,0.066667,0.533333,0.133333,0.466667,0.133333,0.533333

In [66]:
# Label Encoding data['letter']

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
label_encoder = LabelEncoder()
data['letter'] = label_encoder.fit_transform(data['letter'])

In [69]:
data

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,19,0.133333,0.533333,0.200000,0.333333,0.066667,0.533333,0.866667,0.000000,0.400000,0.400000,0.666667,0.533333,0.000000,0.533333,0.000000,0.533333
1,8,0.333333,0.800000,0.200000,0.466667,0.133333,0.666667,0.333333,0.333333,0.266667,0.866667,0.200000,0.600000,0.133333,0.533333,0.266667,0.666667
2,3,0.266667,0.733333,0.400000,0.533333,0.400000,0.666667,0.400000,0.133333,0.400000,0.666667,0.200000,0.466667,0.200000,0.466667,0.200000,0.600000
3,13,0.466667,0.733333,0.400000,0.400000,0.200000,0.333333,0.600000,0.266667,0.400000,0.266667,0.266667,0.666667,0.400000,0.666667,0.133333,0.533333
4,6,0.133333,0.066667,0.200000,0.066667,0.066667,0.533333,0.400000,0.400000,0.400000,0.400000,0.333333,0.600000,0.066667,0.466667,0.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,3,0.133333,0.133333,0.200000,0.200000,0.133333,0.466667,0.466667,0.466667,0.400000,0.400000,0.400000,0.266667,0.133333,0.533333,0.200000,0.466667
19996,2,0.466667,0.666667,0.533333,0.533333,0.266667,0.266667,0.533333,0.400000,0.600000,0.800000,0.600000,0.866667,0.133333,0.600000,0.200000,0.466667
19997,19,0.400000,0.600000,0.400000,0.466667,0.333333,0.400000,0.733333,0.200000,0.466667,0.733333,0.600000,0.333333,0.133333,0.800000,0.133333,0.266667
19998,18,0.133333,0.200000,0.266667,0.133333,0.066667,0.533333,0.466667,0.133333,0.400000,0.666667,0.400000,0.533333,0.066667,0.600000,0.333333,0.533333
19999,0,0.266667,0.600000,0.400000,0.400000,0.133333,0.600000,0.333333,0.200000,0.066667,0.533333,0.066667,0.533333,0.133333,0.466667,0.133333,0.533333

In [70]:
# Splitting data into X and y

In [71]:
X = data[cols]

In [72]:
X

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,0.133333,0.533333,0.200000,0.333333,0.066667,0.533333,0.866667,0.000000,0.400000,0.400000,0.666667,0.533333,0.000000,0.533333,0.000000,0.533333
1,0.333333,0.800000,0.200000,0.466667,0.133333,0.666667,0.333333,0.333333,0.266667,0.866667,0.200000,0.600000,0.133333,0.533333,0.266667,0.666667
2,0.266667,0.733333,0.400000,0.533333,0.400000,0.666667,0.400000,0.133333,0.400000,0.666667,0.200000,0.466667,0.200000,0.466667,0.200000,0.600000
3,0.466667,0.733333,0.400000,0.400000,0.200000,0.333333,0.600000,0.266667,0.400000,0.266667,0.266667,0.666667,0.400000,0.666667,0.133333,0.533333
4,0.133333,0.066667,0.200000,0.066667,0.066667,0.533333,0.400000,0.400000,0.400000,0.400000,0.333333,0.600000,0.066667,0.466667,0.333333,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.133333,0.133333,0.200000,0.200000,0.133333,0.466667,0.466667,0.466667,0.400000,0.400000,0.400000,0.266667,0.133333,0.533333,0.200000,0.466667
19996,0.466667,0.666667,0.533333,0.533333,0.266667,0.266667,0.533333,0.400000,0.600000,0.800000,0.600000,0.866667,0.133333,0.600000,0.200000,0.466667
19997,0.400000,0.600000,0.400000,0.466667,0.333333,0.400000,0.733333,0.200000,0.466667,0.733333,0.600000,0.333333,0.133333,0.800000,0.133333,0.266667
19998,0.133333,0.200000,0.266667,0.133333,0.066667,0.533333,0.466667,0.133333,0.400000,0.666667,0.400000,0.533333,0.066667,0.600000,0.333333,0.533333
19999,0.266667,0.600000,0.400000,0.400000,0.133333,0.600000,0.333333,0.200000,0.066667,0.533333,0.066667,0.533333,0.133333,0.466667,0.133333,0.533333

In [73]:
y = data['letter']

In [74]:
# Spliting data in training in testing

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
# Building the model

In [78]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [79]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(data['letter'].nunique(), activation='softmax')  # Output layer with softmax activation for multi-class classification
])

In [80]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [83]:
history = model.fit(X_train, y_train, epochs=30, batch_size=32, validation_split=0.1)

Epoch 1/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4295 - accuracy: 0.8713 - val_loss: 0.4717 - val_accuracy: 0.8612
Epoch 2/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4257 - accuracy: 0.8718 - val_loss: 0.4514 - val_accuracy: 0.8656
Epoch 3/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4216 - accuracy: 0.8727 - val_loss: 0.4414 - val_accuracy: 0.8637
Epoch 4/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4224 - accuracy: 0.8731 - val_loss: 0.4464 - val_accuracy: 0.8669
Epoch 5/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4175 - accuracy: 0.8732 - val_loss: 0.4705 - val_accuracy: 0.8556
Epoch 6/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4155 - accuracy: 0.8728 - val_loss: 0.4790 - val_accuracy: 0.8537
Epoch 7/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4143 - accuracy: 0.8725 - val_loss: 0.4393 - val_accuracy: 0.8650
Epoch 8/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4069 - accuracy: 0.8762 - val_loss: 0.4361 - val_accuracy: 0.8612
Epoch 9/30
450/450 [==============================] - 2s 4ms/step - loss: 0.4040 - accuracy: 0.8763 - val_loss: 0.4300 - val_accuracy: 0.8731
Epoch 10/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3998 - accuracy: 0.8778 - val_loss: 0.4251 - val_accuracy: 0.8694
Epoch 11/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3944 - accuracy: 0.8826 - val_loss: 0.4355 - val_accuracy: 0.8737
Epoch 12/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3944 - accuracy: 0.8806 - val_loss: 0.4242 - val_accuracy: 0.8750
Epoch 13/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3898 - accuracy: 0.8815 - val_loss: 0.4334 - val_accuracy: 0.8737
Epoch 14/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3893 - accuracy: 0.8812 - val_loss: 0.4155 - val_accuracy: 0.8756
Epoch 15/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3856 - accuracy: 0.8849 - val_loss: 0.4187 - val_accuracy: 0.8800
Epoch 16/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3829 - accuracy: 0.8850 - val_loss: 0.4285 - val_accuracy: 0.8750
Epoch 17/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3801 - accuracy: 0.8833 - val_loss: 0.4286 - val_accuracy: 0.8750
Epoch 18/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3769 - accuracy: 0.8857 - val_loss: 0.4012 - val_accuracy: 0.8881
Epoch 19/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3759 - accuracy: 0.8867 - val_loss: 0.4041 - val_accuracy: 0.8850
Epoch 20/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3694 - accuracy: 0.8883 - val_loss: 0.4087 - val_accuracy: 0.8794
Epoch 21/30
450/450 [==============================] - 2s 5ms/step - loss: 0.3696 - accuracy: 0.8869 - val_loss: 0.4089 - val_accuracy: 0.8750
Epoch 22/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3686 - accuracy: 0.8884 - val_loss: 0.4057 - val_accuracy: 0.8775
Epoch 23/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3639 - accuracy: 0.8907 - val_loss: 0.4190 - val_accuracy: 0.8800
Epoch 24/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3655 - accuracy: 0.8882 - val_loss: 0.4121 - val_accuracy: 0.8763
Epoch 25/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3580 - accuracy: 0.8901 - val_loss: 0.3883 - val_accuracy: 0.8888
Epoch 26/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3549 - accuracy: 0.8919 - val_loss: 0.3957 - val_accuracy: 0.8813
Epoch 27/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3552 - accuracy: 0.8911 - val_loss: 0.3942 - val_accuracy: 0.8856
Epoch 28/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3560 - accuracy: 0.8903 - val_loss: 0.3864 - val_accuracy: 0.8831
Epoch 29/30
450/450 [==============================] - 2s 4ms/step - loss: 0.3493 - accuracy: 0.8938 - val_loss: 0.3943 - val_accuracy: 0.8825
Epoch 30/30
450/450 [==============================] - 1s 3ms/step - loss: 0.3473 - accuracy: 0.8941 - val_loss: 0.3809 - val_accuracy: 0.8894

In [89]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

125/125 [==============================] - 0s 2ms/step - loss: 0.3599 - accuracy: 0.8940
Test accuracy: 0.8939999938011169

In [90]:
# Doing HyperParameter Tuning

In [91]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [92]:
param_dist = {
    'hidden_layers': randint(1, 4),
    'neurons_per_layer': randint(32, 129),
    'activation': ['relu', 'tanh'],
    'learning_rate': [0.001, 0.01, 0.1]
}

In [95]:
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [109]:
def create_model(hidden_layers=1, neurons_per_layer=64, activation='relu', learning_rate=0.001):
    model = Sequential()
    model.add(Dense(neurons_per_layer, activation=activation, input_shape=(X_train.shape[1],)))
    for _ in range(hidden_layers - 1):
        model.add(Dense(neurons_per_layer, activation=activation))
    model.add(Dense(y_train.nunique(), activation='softmax'))  # Use 'cols' for the number of neurons in the output layer
    optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate)
    model.compile(optimizer=optimizer, loss='sparse_categorical_crossentropy', metrics=['accuracy'])
    return model

In [110]:
keras_model = KerasClassifier(build_fn=create_model, epochs=10, batch_size=32, verbose=0)

C:\Users\Sunny\AppData\Local\Temp\ipykernel_20108\3765733826.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  keras_model = KerasClassifier(build_fn=create_model, epochs=10, batch_size=32, verbose=0)

In [111]:
random_search = RandomizedSearchCV(estimator=keras_model, param_distributions=param_dist, n_iter=10, cv=3, verbose=1)
random_result = random_search.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

In [112]:
print("Best: %f using %s" % (random_result.best_score_, random_result.best_params_))

Best: 0.850814 using {'activation': 'relu', 'hidden_layers': 3, 'learning_rate': 0.01, 'neurons_per_layer': 107}